$maincolor: #9da5b2;

@keyframes rotate{
	from{transform:rotate(0deg)}
	to{transform:rotate(120deg)}
}

html,body{
	width:100%;
	height:100%;
	min-width:730px;
	min-height:730px;
	margin:0;
	padding:0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}

header{
	display:flex;
	justify-content: center;
	align-items: flex-end;
	height:5%;
	width:100%;
}


nav{
	position:fixed;	
	top:0;
	height:50px;
	width:100%;
	background-color: $maincolor;
	
	button{
		margin:0;
		padding: 0;
		height:100%;
		width:60px;;
		border:none;
		background-color: black;
		color:white;
		i{
			animation: rotate 0.5s infinite;
			animation-timing-function: linear;
			animation-play-state: paused;
		}
	}
}

#links_fondo{
	display:none;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	height:120px;
	width:120px;
	background-color:white;
	border-radius:4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opaque:1;
	position:fixed;
	top:50px;
	a{
		text-decoration:none;
		font-width:22px;
		color:black;
	}
}

#plugins{
	display:inline-block;
	margin-top:55px;
	float:right;
	button{
		display:inline-block;
		background-color:white;
		border:none;
	}
}

#facebook{
	margin-left:10px;
	margin-right:5px;
	color:rgb(66,103,178);
}

#twitter{
	color:#1da1f2;
}

#youtube{
	margin-right:10px;
	color:red;
}

main{	
	font-size: 18px;
	margin-left: 10px;
	min-height:74.5%;
}

footer{
	height:8%;
	width:96%;
	padding: 2%;
	color:white;
	background-color:$maincolor;
}